<div class="header" {{ "" | styles: settings__fontFamily, settings__fontSize, settings__backgroundColor, settings__color }}>
    <div class="banner-title" {{ "" | styles: settings__title__fontFamily, settings__title__fontSize, settings__title__backgroundColor, settings__title__color }}>
        {{ title }}
    </div>
    <div class="banner-text" {{ "" | styles: settings__text__fontFamily, settings__text__fontSize, settings__text__backgroundColor, settings__text__color }}>
        {{ text }}
    </div>
</div>
