<footer class="footer" {{ "" | styles: settings__fontFamily, settings__fontSize, settings__backgroundColor, settings__color }}>
    <div class="footer-left" {{ "" | styles: settings__leftText__fontFamily, settings__leftText__fontSize, settings__leftText__backgroundColor, settings__leftText__color }}>
        {{ leftText }}
    </div>
    <div class="footer-right" {{ "" | styles: settings__rightText__fontFamily, settings__rightText__fontSize, settings__rightText__backgroundColor, settings__rightText__color }}>
        {{ rightText }}
    </div>
</footer>
